{{ define "title" }}{{.Device.Name}} : Device Status{{ end }}
{{ define "body" }}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">{{.Device.Name}}</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 {{if .Device.Disabled}}disabled{{end}}">
            <h2>{{ .Device.Name }}</h2>
            <ul>
                {{if .Device.Disabled}}<li>Disabled: <strong>{{ .Device.Disabled }}</strong></li>{{end}}
                <li>Name: <strong>{{ .Device.Name }}</strong></li>
                <li>Type: <strong>{{ .Device.Type }}</strong></li>
                <li>Host: <strong>{{ .Device.Host }}</strong></li>
            </ul>
        </div>
    </div>
</div>

{{ end }}